body{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    border: 2px solid black;
    height: auto;
    width: 200px;
    padding: 20px;
    color: #333;    
    background-color: white;
    display: flex;
    flex-direction: column;
  
}
h2{
    text-align: center;
    margin: 15px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}